apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app: k8s-test
  name: k8s-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: k8s-test
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: k8s-test
    spec:
      containers:
        - image: ghcr.io/jtaka1012/k8stest:pr-8
          imagePullPolicy: Always
          name: k8stest
          resources: {}
status: {}
